html,body{
	background: #fff;
}
body{
	position: relative;
}
.container-fluid{
	padding: 0;
}
.navbar-top{
	margin-bottom: 0;
	min-width: 0;
	padding: 0;
}
.row{
	margin:0;
}
.wow { visibility: hidden; }
.navbar-default .navbar-nav li a{
	color: #fff;
}
.navbar-fixed-top {
	background: rgba(0,0,0,0.5);
	border: none;
	width: 100%;
	z-index: 10
}
.navbar-brand {
	padding: 0;
	.logo{
		width: 1.41rem;
		height: 0.3rem;
		display: block;
		margin: 0.1rem 0 0;
	}
}
.jumbotron {
	padding: 0;
	position: absolute;
	.banner {
		img{
			width: 1920px;
			height: 7rem;
		}
	}
}
.title-container{
	height: 7rem;
    padding: 2.5rem 0 0 0;
}
.title-box{
	height: 7rem;
	background: url('../../../../html/img/web/site/ysb/banner@2x.png') no-repeat center center;
	.title{
		font-size:0.5rem;
		color:rgba(255,255,255,1);
		line-height:0.7rem;
	}
	.subtitle{
		font-size:0.2rem;
		color:rgba(255,255,255,1);
		line-height:0.28rem;
		font-weight: 300;
	}
}
.list-title{
	font-size: 0.36rem;
	text-align: center;
	line-height: 1.3rem;
}
.list-field{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 3rem;
    margin: 0 auto;
    font-weight: 300;
    .subtitle{
    	color:rgba(102,102,102,1);
    	line-height:0.24rem;
    }
    .title{
    	font-size: 0.18rem;
    	color:rgba(34,34,34,1);
    	font-weight: bold;
    }
    img{
    	display: block;
    	width: 1rem;
    	height: 1rem;
    }
}
.other-field{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 3rem;
    margin: 0 auto;
    border:1px solid rgba(230,230,230,1);
    .subtitle{
    	color:rgba(102,102,102,1);
    	font-weight: 300;
    }
    .title{
    	font-size: 0.18rem;
    	color: #222;
    	line-height: 0.25rem;
    	font-weight: bold;
    }
    img{
    	display: block;
    	width: 1rem;
    	height: 1rem;
    }
}
.other-field:hover{
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.1);
	cursor: pointer;
}
.first-container{
	height: 4.6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #fff;
	position: relative;
	background: url('../../../../html/img/web/site/ysb/banner-m@2x.png') no-repeat center center;
	background-attachment: fixed;
	.title{
		font-size: 0.36rem;
	}
	.subtitle{
		font-size: 0.14rem;
		line-height: 0.36rem;
		font-weight: 300;
	}
}
.second-container{
	height: 4.6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #fff;
	position: relative;
	background: url('../../../../html/img/web/site/ysb/banner-b@2x.png') no-repeat center center;
	background-attachment: fixed;
	.title{
		font-size: 0.36rem;
	}
	.subtitle{
		font-size: 0.14rem;
		line-height: 0.36rem;
		font-weight: 300;
	}
}
.fixed-box{
	position: absolute;
	top: 11.19rem;
	.banner{
		img{
			height: 4.6rem;
		}
	}
}

.first-field{
	padding: 0 0 1rem;
}
.second-field{
	padding: 0 0 1rem;
}
.about-box{
	position: absolute;
	top: 20rem;
	.banner{
		img{
			height: 4.6rem;
		}
	}
}
.cooperation-box{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	
}
.cooperation{
	border:1px solid rgba(230,230,230,1);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.2rem;
	img{
		display: block;
		width: 1.2rem;
		height: 0.4rem;
	}
}
.cooperation:hover{
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.1);
	cursor: pointer;
}
.pattern{
	padding: 0 0 1rem;
}

.footer{
	background: #000;
	color: #fff;
	padding: 0.2rem 0;  
	.first-line{
		line-height: 0.5rem;
	}
	.second-line{
		line-height: 0.3rem;
	}
	a{
		color: #fff;
	}
	a:hover{
		text-decoration: none;
		color: #FA7F0A;
	}
}
.contact-form{
	margin: 0 0 0.1rem 0;
}
.submit-btn{
	background:rgba(250,127,10,1);
	color: #fff;
	margin: 0.2rem 0;
}
.submit-btn:hover{
	color:#fff;
}
.footer-title{
	margin: 0.3rem 0.2rem;
	font-size:0.26rem;
	color:rgba(34,34,34,1);
	line-height:0.37rem;
}
.addr{
	padding: 0 0 0 0.27rem;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #FA7F0A;
}
.mouse-in:hover{
	transform: scale(1.2);
	cursor: pointer;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .brand{
	margin:0 0 0 0.2rem;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: none;
}
.contact-us{
	background:rgba(246,246,246,1);
	padding:1rem;
}
.inner-contact{
	background: #fff;
	width: 74%;
    margin: 0 auto;
}